{
  "mcpServers": {
    "bigmodel_vision": {
      "command": "npx",
      "args": [
        "-y",
        "@z_ai/mcp-server"
      ],
      "transport": "stdio",
      "enabled": false,
      "description": "BigModel Vision MCP",
      "env": {
        "Z_AI_API_KEY": "",
        "Z_AI_MODE": "ZHIPU"
      }
    },
    "bigmodel_search": {
      "url": "https://open.bigmodel.cn/api/mcp/web_search_prime/mcp",
      "transport": "streamable-http",
      "enabled": false,
      "description": "BigModel Search MCP",
      "headers": {
        "Authorization": "Bearer "
      }
    },
    "bigmodel_reader": {
      "url": "https://open.bigmodel.cn/api/mcp/web_reader/mcp",
      "transport": "streamable-http",
      "enabled": false,
      "description": "BigModel Reader MCP",
      "headers": {
        "Authorization": "Bearer "
      }
    },
    "bigmodel_zread": {
      "url": "https://open.bigmodel.cn/api/mcp/zread/mcp",
      "transport": "streamable-http",
      "enabled": false,
      "description": "BigModel ZRead MCP",
      "headers": {
        "Authorization": "Bearer "
      }
    }
  }
}
