:root {
    --text-primary: #1b2432;
    --text-secondary: #3d4c61;
    --text-tertiary: #69788f;
    --text-disable: #9ba6b6;
    --text-brand: #0b78d1;
    --text-onblack: #fff;
    --text-white: #fff;
    --text-white-tsp: #ffffff99;
    --theme-text-primary: #162130;
    --logo-color: #162130;
    --background-gray-main: #f4f7fb;
    --background-white-main: #ffffff;
    --background-menu-white: #ffffff;
    --background-tsp-menu-white: #ffffff1c;
    --background-tsp-card-gray: #1320330a;
    --background-nav: #e7edf5;
    --background-card: #ffffff;
    --background-mask: #000000a6;
    --border-main: #12263f1c;
    --border-white: #ffffff14;
    --border-btn-main: #11253f33;
    --border-input-active: #0b78d166;
    --border-light: #12263f14;
    --border-dark: #11253f3d;
    --icon-primary: #1b2432;
    --icon-secondary: #3d4c61;
    --icon-tertiary: #69788f;
    --icon-disable: #9ba6b6;
    --icon-brand: #0b78d1;
    --icon-onblack: #fff;
    --icon-white: #fff;
    --icon-white-tsp: #ffffff99;
    --function-error: #de3f4d;
    --function-success: #1f9b5d;
    --function-warning: #c58810;
    --function-error-tsp: #de3f4d1a;
    --function-warning-tsp: #c588101f;
    --fill-blue: #0b78d114;
    --fill-tsp-white-main: #12263f0f;
    --fill-tsp-white-dark: #12263f14;
    --fill-tsp-white-light: #12263f0a;
    --fill-tsp-gray-dark: #12263f14;
    --fill-tsp-gray-main: #12263f0a;
    --fill-input-chat: #fdfefe;
    --fill-white: #fff;
    --fill-black: #1a243d73;
    --Button-primary-black: #1a2f4d;
    --Button-primary-white: #fff;
    --Button-primary-brand: #0b78d1;
    --Button-secondary-brand: #0b78d11f;
    --Button-secondary-error-border: #de3f4d7a;
    --Button-secondary-error-fill: #fff;
    --Button-secondary-main: #fff;
    --Button-secondary-gray: #12263f0f;
    --tab-fill: #0f1f3208;
    --tab-active-black: #1a2f4d;
    --shadow-L: #06162d3d;
    --shadow-M: #06162d24;
    --shadow-S: #06162d1a;
    --shadow-XS: #06162d12;
    --Tooltips-main: #000000e6;
    --gradual-white-0: #ffffff00;
    --gradual-gray-100: #f4f7fb;
    --gradual-gray-0: #f4f7fb00;
    --gradual-dark-20: #06162d24
}

.dark {
    --text-primary: #dbe7f7;
    --text-secondary: #a9bdd4;
    --text-tertiary: #7f95af;
    --text-disable: #607a96;
    --text-brand: #33a1ff;
    --text-onblack: #000000e6;
    --text-white: #fff;
    --text-white-tsp: #ffffff99;
    --theme-text-primary: #dbe7f7;
    --logo-color: #dbe7f7;
    --background-gray-main: #0f1725;
    --background-white-main: #111c2c;
    --background-menu-white: #18263a;
    --background-tsp-menu-white: #ffffff0f;
    --background-tsp-card-gray: #ffffff0f;
    --background-nav: #0b1421;
    --background-card: #162334;
    --background-mask: #000000a6;
    --border-main: #93a9c11f;
    --border-white: #ffffff0a;
    --border-btn-main: #95afcd36;
    --border-input-active: #33a1ff7a;
    --border-light: #93a9c11a;
    --border-dark: #95afcd4a;
    --icon-primary: #dbe7f7;
    --icon-secondary: #a9bdd4;
    --icon-tertiary: #7f95af;
    --icon-disable: #607a96;
    --icon-brand: #33a1ff;
    --icon-onblack: #000000d9;
    --icon-white: #fff;
    --icon-white-tsp: #ffffff99;
    --function-error: #f26772;
    --function-success: #30b877;
    --function-warning: #f0b845;
    --function-error-tsp: #f2677217;
    --function-warning-tsp: #f0b8451f;
    --fill-blue: #33a1ff24;
    --fill-tsp-white-main: #d0e2ff14;
    --fill-tsp-white-dark: #d0e2ff24;
    --fill-tsp-white-light: #d0e2ff0d;
    --fill-tsp-gray-dark: #050b144d;
    --fill-tsp-gray-main: #050b1438;
    --fill-input-chat: #132034;
    --fill-white: #1a2b41;
    --fill-black: #0c152473;
    --Button-primary-black: #dbe7f7;
    --Button-primary-white: #d0e2ff1a;
    --Button-primary-brand: #33a1ff;
    --Button-secondary-brand: #33a1ff2e;
    --Button-secondary-error-border: #f2677240;
    --Button-secondary-error-fill: #f267721f;
    --Button-secondary-main: #ffffff1f;
    --Button-secondary-gray: #d0e2ff14;
    --tab-fill: #d0e2ff0d;
    --tab-active-black: #dbe7f7;
    --shadow-L: #00000078;
    --shadow-M: #00000054;
    --shadow-S: #00000042;
    --shadow-XS: #00000036;
    --Tooltips-main: #000000e6;
    --gradual-white-0: #0f172500;
    --gradual-gray-100: #18263a;
    --gradual-gray-0: #18263a00;
    --gradual-dark-20: #d0e2ff24
}

.dark,:root {
    --color-1: 0 100% 63%;
    --color-2: 270 100% 63%;
    --color-3: 210 100% 63%;
    --color-4: 195 100% 63%;
    --color-5: 90 100% 63%
}
